//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 12 17:48:53 2023
//! **************************************************************************

SCHEMATIC START;
COMP "SDR_A<0>" LOCATE = SITE "N3" LEVEL 1;
COMP "SDR_A<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "FDC_DRIVE<0>" LOCATE = SITE "C16" LEVEL 1;
COMP "SDR_A<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "FDC_DRIVE<1>" LOCATE = SITE "B14" LEVEL 1;
COMP "SDR_A<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "SDR_A<4>" LOCATE = SITE "B1" LEVEL 1;
COMP "SDR_A<5>" LOCATE = SITE "C2" LEVEL 1;
COMP "SDR_A<6>" LOCATE = SITE "C1" LEVEL 1;
COMP "SDR_A<7>" LOCATE = SITE "F4" LEVEL 1;
COMP "SDR_A<8>" LOCATE = SITE "E4" LEVEL 1;
COMP "SDR_A<9>" LOCATE = SITE "D1" LEVEL 1;
COMP "SDR_CLK" LOCATE = SITE "E1" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "F7" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "F9" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "E8" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "F10" LEVEL 1;
COMP "VGA_B<4>" LOCATE = SITE "E10" LEVEL 1;
COMP "VGA_B<5>" LOCATE = SITE "E11" LEVEL 1;
COMP "VGA_B<6>" LOCATE = SITE "D11" LEVEL 1;
COMP "VGA_B<7>" LOCATE = SITE "C11" LEVEL 1;
COMP "SDR_A<10>" LOCATE = SITE "N1" LEVEL 1;
COMP "SDR_A<11>" LOCATE = SITE "D3" LEVEL 1;
COMP "SDR_A<12>" LOCATE = SITE "E3" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "D9" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "A10" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "B10" LEVEL 1;
COMP "VGA_G<4>" LOCATE = SITE "C10" LEVEL 1;
COMP "VGA_G<5>" LOCATE = SITE "D5" LEVEL 1;
COMP "VGA_G<6>" LOCATE = SITE "E6" LEVEL 1;
COMP "VGA_G<7>" LOCATE = SITE "F5" LEVEL 1;
COMP "UART_RX" LOCATE = SITE "J4" LEVEL 1;
COMP "UART_TX" LOCATE = SITE "J6" LEVEL 1;
COMP "SD_CS_N" LOCATE = SITE "L4" LEVEL 1;
COMP "SDR_BA<0>" LOCATE = SITE "M1" LEVEL 1;
COMP "SDR_BA<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "A7" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_R<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "VGA_R<5>" LOCATE = SITE "B8" LEVEL 1;
COMP "VGA_R<6>" LOCATE = SITE "C8" LEVEL 1;
COMP "VGA_R<7>" LOCATE = SITE "A9" LEVEL 1;
COMP "SD_DET_N" LOCATE = SITE "M6" LEVEL 1;
COMP "UART_CTS" LOCATE = SITE "L5" LEVEL 1;
COMP "SDR_DQ<0>" LOCATE = SITE "H2" LEVEL 1;
COMP "SDR_WE_N" LOCATE = SITE "L1" LEVEL 1;
COMP "SDR_DQ<1>" LOCATE = SITE "H1" LEVEL 1;
COMP "SDR_DQ<2>" LOCATE = SITE "H4" LEVEL 1;
COMP "SDR_DQ<3>" LOCATE = SITE "J3" LEVEL 1;
COMP "SDR_DQ<4>" LOCATE = SITE "J1" LEVEL 1;
COMP "SDR_DQ<5>" LOCATE = SITE "K3" LEVEL 1;
COMP "SDR_DQ<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "SDR_DQ<7>" LOCATE = SITE "K1" LEVEL 1;
COMP "SDR_DQ<8>" LOCATE = SITE "F2" LEVEL 1;
COMP "SDR_DQ<9>" LOCATE = SITE "F1" LEVEL 1;
COMP "SDR_CAS_N" LOCATE = SITE "M3" LEVEL 1;
COMP "MWR_N<0>" LOCATE = SITE "G16" LEVEL 1;
COMP "MWR_N<1>" LOCATE = SITE "R14" LEVEL 1;
COMP "WCS_N<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "WCS_N<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "SDR_RAS_N" LOCATE = SITE "M2" LEVEL 1;
COMP "SDR_DQ<10>" LOCATE = SITE "F3" LEVEL 1;
COMP "SDR_DQ<11>" LOCATE = SITE "G5" LEVEL 1;
COMP "SDR_DQ<12>" LOCATE = SITE "H5" LEVEL 1;
COMP "SDR_DQ<13>" LOCATE = SITE "G3" LEVEL 1;
COMP "SDR_DQ<14>" LOCATE = SITE "G1" LEVEL 1;
COMP "SDR_DQ<15>" LOCATE = SITE "H3" LEVEL 1;
COMP "SDR_DQM<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "SDR_DQM<1>" LOCATE = SITE "E2" LEVEL 1;
COMP "WRESET_N" LOCATE = SITE "T7" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "F12" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "E12" LEVEL 1;
COMP "MA<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "MA<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "MA<2>" LOCATE = SITE "K12" LEVEL 1;
COMP "MA<3>" LOCATE = SITE "K11" LEVEL 1;
COMP "MA<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "MA<5>" LOCATE = SITE "G14" LEVEL 1;
COMP "MA<6>" LOCATE = SITE "J13" LEVEL 1;
COMP "MA<7>" LOCATE = SITE "H13" LEVEL 1;
COMP "MA<8>" LOCATE = SITE "J12" LEVEL 1;
COMP "MA<9>" LOCATE = SITE "J11" LEVEL 1;
COMP "MD<0>" LOCATE = SITE "J16" LEVEL 1;
COMP "MD<1>" LOCATE = SITE "H16" LEVEL 1;
COMP "MD<2>" LOCATE = SITE "H15" LEVEL 1;
COMP "MD<3>" LOCATE = SITE "H14" LEVEL 1;
COMP "MD<4>" LOCATE = SITE "F15" LEVEL 1;
COMP "MD<5>" LOCATE = SITE "F14" LEVEL 1;
COMP "MD<6>" LOCATE = SITE "E16" LEVEL 1;
COMP "MD<7>" LOCATE = SITE "E15" LEVEL 1;
COMP "MD<8>" LOCATE = SITE "T15" LEVEL 1;
COMP "MD<9>" LOCATE = SITE "T14" LEVEL 1;
COMP "WA<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "WA<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "WA<2>" LOCATE = SITE "N8" LEVEL 1;
COMP "WD<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "WD<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "WD<2>" LOCATE = SITE "T12" LEVEL 1;
COMP "WD<3>" LOCATE = SITE "M5" LEVEL 1;
COMP "WD<4>" LOCATE = SITE "R1" LEVEL 1;
COMP "WD<5>" LOCATE = SITE "P5" LEVEL 1;
COMP "WD<6>" LOCATE = SITE "N5" LEVEL 1;
COMP "WD<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "WD<8>" LOCATE = SITE "P11" LEVEL 1;
COMP "WD<9>" LOCATE = SITE "R12" LEVEL 1;
COMP "SD_DI" LOCATE = SITE "L7" LEVEL 1;
COMP "SD_DO" LOCATE = SITE "M7" LEVEL 1;
COMP "WRD_N" LOCATE = SITE "P7" LEVEL 1;
COMP "V_CLK" LOCATE = SITE "F6" LEVEL 1;
COMP "WWR_N" LOCATE = SITE "R7" LEVEL 1;
COMP "FDC_SIDE_N" LOCATE = SITE "A11" LEVEL 1;
COMP "BEEPER" LOCATE = SITE "B16" LEVEL 1;
COMP "MA<10>" LOCATE = SITE "H11" LEVEL 1;
COMP "MA<11>" LOCATE = SITE "F13" LEVEL 1;
COMP "MA<12>" LOCATE = SITE "G11" LEVEL 1;
COMP "MA<20>" LOCATE = SITE "M14" LEVEL 1;
COMP "MA<13>" LOCATE = SITE "E13" LEVEL 1;
COMP "MA<14>" LOCATE = SITE "F16" LEVEL 1;
COMP "MA<15>" LOCATE = SITE "K14" LEVEL 1;
COMP "MA<16>" LOCATE = SITE "K15" LEVEL 1;
COMP "MA<17>" LOCATE = SITE "K16" LEVEL 1;
COMP "MA<18>" LOCATE = SITE "L16" LEVEL 1;
COMP "MA<19>" LOCATE = SITE "G12" LEVEL 1;
COMP "MD<10>" LOCATE = SITE "R16" LEVEL 1;
COMP "MD<11>" LOCATE = SITE "R15" LEVEL 1;
COMP "MD<12>" LOCATE = SITE "P16" LEVEL 1;
COMP "MD<13>" LOCATE = SITE "P15" LEVEL 1;
COMP "MD<14>" LOCATE = SITE "N16" LEVEL 1;
COMP "MD<15>" LOCATE = SITE "M16" LEVEL 1;
COMP "WD<10>" LOCATE = SITE "T13" LEVEL 1;
COMP "WD<11>" LOCATE = SITE "M4" LEVEL 1;
COMP "WD<12>" LOCATE = SITE "R2" LEVEL 1;
COMP "WD<13>" LOCATE = SITE "T4" LEVEL 1;
COMP "WD<14>" LOCATE = SITE "R5" LEVEL 1;
COMP "WD<15>" LOCATE = SITE "N6" LEVEL 1;
COMP "FT_CLK" LOCATE = SITE "D6" LEVEL 1;
COMP "SD_CLK" LOCATE = SITE "L8" LEVEL 1;
COMP "ESP_RESET_N" LOCATE = SITE "K6" LEVEL 1;
COMP "FDC_INDEX" LOCATE = SITE "C13" LEVEL 1;
COMP "FDC_RDATA" LOCATE = SITE "D12" LEVEL 1;
COMP "FDC_WDATA" LOCATE = SITE "D14" LEVEL 1;
COMP "FDC_MOTOR" LOCATE = SITE "C15" LEVEL 1;
COMP "FDC_WGATE" LOCATE = SITE "A14" LEVEL 1;
COMP "CLK_50MHZ" LOCATE = SITE "T8" LEVEL 1;
COMP "ESP_BOOT_N" LOCATE = SITE "K5" LEVEL 1;
COMP "DAC_LRCK" LOCATE = SITE "C5" LEVEL 1;
COMP "DAC_MUTE" LOCATE = SITE "A4" LEVEL 1;
COMP "FDC_TR00" LOCATE = SITE "B12" LEVEL 1;
COMP "FDC_STEP" LOCATE = SITE "A13" LEVEL 1;
COMP "FDC_WPRT" LOCATE = SITE "A12" LEVEL 1;
COMP "DAC_BCK" LOCATE = SITE "A3" LEVEL 1;
COMP "DAC_DAT" LOCATE = SITE "C4" LEVEL 1;
COMP "FDC_DIR" LOCATE = SITE "B15" LEVEL 1;
COMP "MCU_CS_N" LOCATE = SITE "C3" LEVEL 1;
COMP "MCU_MISO" LOCATE = SITE "A2" LEVEL 1;
COMP "MCU_MOSI" LOCATE = SITE "B2" LEVEL 1;
COMP "FT_SPI_CS_N" LOCATE = SITE "A6" LEVEL 1;
COMP "FT_SPI_MISO" LOCATE = SITE "C6" LEVEL 1;
COMP "FT_SPI_MOSI" LOCATE = SITE "B6" LEVEL 1;
COMP "MCU_SCK" LOCATE = SITE "B3" LEVEL 1;
COMP "FT_INT_N" LOCATE = SITE "B5" LEVEL 1;
COMP "FT_SPI_SCK" LOCATE = SITE "A5" LEVEL 1;
COMP "MRD_N<0>" LOCATE = SITE "D16" LEVEL 1;
COMP "MRD_N<1>" LOCATE = SITE "M15" LEVEL 1;
COMP "FT_OE_N" LOCATE = SITE "G6" LEVEL 1;
COMP "TAPE_IN" LOCATE = SITE "N14" LEVEL 1;
COMP "TAPE_OUT" LOCATE = SITE "M13" LEVEL 1;
PIN ODDR2_inst_pins<1> = BEL "ODDR2_inst" PINNAME CK0;
PIN ODDR2_inst_pins<2> = BEL "ODDR2_inst" PINNAME CK1;
TIMEGRP pll0_inst_clkout0 = BEL "led" BEL "cnt_0" BEL "cnt_1" BEL "cnt_2" BEL
        "cnt_3" BEL "cnt_4" BEL "cnt_5" BEL "cnt_6" BEL "cnt_7" BEL "cnt_8"
        BEL "cnt_9" BEL "cnt_10" BEL "cnt_11" BEL "cnt_12" BEL "cnt_13" BEL
        "cnt_14" BEL "cnt_15" BEL "cnt_16" BEL "cnt_17" BEL "cnt_18" BEL
        "cnt_19" BEL "cnt_20" BEL "cnt_21" BEL "cnt_22" BEL "cnt_23" BEL
        "cnt_24" BEL "cnt_25" BEL "cnt_26" BEL "shift_0" BEL "shift_1" BEL
        "shift_2" BEL "shift_3" BEL "shift_4" BEL "shift_5" BEL "shift_6" BEL
        "shift_7" BEL "pll0_inst/clkout1_buf" BEL "vcnt_0" BEL "vcnt_1" BEL
        "vcnt_2" BEL "vcnt_3" BEL "vcnt_4" BEL "vcnt_5" BEL "vcnt_6" BEL
        "vcnt_7" BEL "vcnt_8" BEL "vcnt_9" BEL "vcnt_10" BEL "vcnt_11" BEL
        "vcnt_5_1" BEL "hcnt_0" BEL "hcnt_1" BEL "hcnt_2" BEL "hcnt_3" BEL
        "hcnt_4" BEL "hcnt_5" BEL "hcnt_6" BEL "hcnt_7" BEL "hcnt_8" BEL
        "hcnt_9" BEL "hcnt_10" BEL "hcnt_11" PIN "ODDR2_inst_pins<1>" PIN
        "ODDR2_inst_pins<2>" PIN "ODDR2_inst_pins<1>" PIN
        "ODDR2_inst_pins<2>";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN pll0_inst/pll_base_inst/PLL_ADV_pins<2> = BEL
        "pll0_inst/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP sys_clk_pin = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "pll0_inst/pll_base_inst/PLL_ADV_pins<2>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
TS_pll0_inst_clkout0 = PERIOD TIMEGRP "pll0_inst_clkout0" TS_sys_clk_pin *
        1.66666667 HIGH 50%;
SCHEMATIC END;

